* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F5F6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 100%;
  padding: 5rem;
}

ul {
  list-style: none;
}

.lateral-menu {
  background: #000;
  min-height: 100vh;
  padding: 5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

.lateral-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.lateral-menu .menu-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.lateral-menu .menu-items li p {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.lateral-menu .menu-items .logo {
  margin-bottom: 1rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}

.cards .card {
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.cards .card.duble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.cards .card.duble .divider {
  height: 5rem;
  width: 1px;
  background: #000;
}

.cards .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.cards .card .card-content p {
  font-weight: bold;
}

.cards .card .card-content h2 {
  font-size: 54px;
  color: #FFBA33;
}

.cards-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.cards-table .card {
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.cards-table .card.grapich {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-table .card h3, .cards-table .card p {
  margin: 0.5rem;
}

.cards-table .card p {
  color: #5E5E5E;
}

table {
  border-spacing: 0;
  color: #5E5E5E;
  width: 600px;
}

table th, table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-collapse: collapse;
}

table th {
  border-bottom: 1px solid #5E5E5E;
}

table td {
  border-bottom: 1px solid #E9E9E9;
}

@-webkit-keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}

.placeholder-loading div {
  height: 1rem;
  width: 5rem;
  -webkit-animation: placeholderAnimate 5s infinite;
          animation: placeholderAnimate 5s infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(2%, #eee), color-stop(18%, #ddd), color-stop(33%, #eee));
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
}
/*# sourceMappingURL=style.css.map */